#search{
    padding: 2px;
    font-size: 20px;
}
.box{
    top: 30%;
    left: 10%;
}
.clock{
    top: 60%;
    left: 10%;
    font-size: 25px;
}
.logo {
    width: 30%;
    border: 2px solid white;
    border-radius: 50px;
}